<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StaffSYnc</title>
    <link rel="stylesheet" href="./static/style/style.css">
</head>
<body>
    <header>
        <h1>The Employes Management System</h1>
        <nav>
            <ul>
                <li><a href="/" target="_self">Home</a></li>
                <li><a href="login">Admin Panel</a></li>
                <li><a href="#About">About</a></li>
                <li><a href="https://github.com/dunkel2heit" target="_blank">Contact</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section id="hero">
            <h2>Welcome to StaffSync</h2>
            <p>Simplify Employee Management</p>
            <a href="#About">Learn More</a>
        </section>

        <section id="Features">
            <h2>Features</h2>
            <ul>
                <li>Add Employees</li>
                <li>Edit Employee Information</li>
                <li>Delete Employees</li>
                <li>Search Employees</li>
                <li>Manage Departments</li>
            </ul>
        </section>

        <section id="About">
            <h2>About StaffSync</h2>
            <p>
                StaffSync is an Employee Management System designed to efficiently manage employee information. The system allows administrators to create, view, update, and delete employee records while maintaining a centralized database. It provides an organized way to track employee details such as personal information, job positions, departments and salaries, improving workforce management and administrative efficiency.
            </p>

        </section>
    </main>

    <footer>
        <p>
            © 2026 StaffSync Employee Management System Developed by Mohamed Rabie Sabbabi
        </p>
    </footer>
</body>
</html>
